body{
    background-color: rgb(238, 238, 238);
    color: black;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}
div.content{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
div.game{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    background-color: rgb(211, 211, 211);
    padding-bottom: 50px;
}
div.topBar{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 2;
    top: 0px;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 200;
    transition: height 2s;
}
div.topBar div{
    margin: auto;
    opacity: 1;
}
div.middleBar{
    width: 100%;
    font-size: 80px;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(189, 189, 189);
}
div.topImage{
    margin-top: 95px;
    width: 100%;
    height: 500px;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position-y: center;
    filter: brightness(0.7) saturate(0);
}
div.title{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(189, 189, 189);
}
img.control {
    width: 150px;
    float: left;
}
p {
    font-size: 20px;
    font-weight: 300;
    text-indent: 60px;
    text-align: justify;
    margin-top: 20px;
}
h1 {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
}
h2 {
    margin-top: 50px;
    font-weight: 500;
    font-size: 30px;
}
h3{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 400;
}
h4{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
}
h5{
    font-size: 20px;
    font-weight: 300;
}
h6{
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
strong{
    font-weight: 500;
}
div.centerAlign{
    text-align: center;
    width: 100%;
}
div.Slide{
    width: 1200px;
    height: 600px;
    overflow: hidden;
    margin: auto;
}
div.Slide div.Arrows{
    position: absolute;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.Slide div.Arrows div.lArrow{
    height: 200px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 200px;
    z-index: 1;
}
div.Slide div.Arrows div.lArrow:hover{
    cursor: pointer;
    background-color: rgba(75, 75, 75, 0.5);
}
div.Slide div.Arrows div.lArrow:active{
    background-color: rgba(99, 99, 99, 0.5);
}
div.Slide div.Arrows div.rArrow{
    height: 200px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 200px;
    z-index: 1;
}
div.Slide div.Arrows div.rArrow:hover{
    cursor: pointer;
    background-color: rgba(75, 75, 75, 0.5);
}
div.Slide div.Arrows div.rArrow:active{
    background-color: rgba(99, 99, 99, 0.5);
}
div.Slide img.explore1 {
    position: relative;
    right: 0px;
    transition: right 1s;
}
div.Slide img.explore2 {
    position: relative;
    bottom: 604px;
    left: 1200px;
    transition: left 1s;
}
div.Slide div.b4after{
    position: absolute;
    z-index: 1;
    padding: 8px 15px 8px 15px;
    color: white;
    font-weight: 300;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.507);
}
img.space {
    margin-bottom: 40px;
}
img.quadratic {
    width: 70%;
}